<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Products</a></li>
                        <li><a href="#" th:href="@{/product/new}" sec:authorize="hasAuthority('ADMIN')">Create Product</a></li>
                        <li><a href="#" th:href="@{/login}" sec:authorize="isAnonymous()">Sign In</a></li>
                        <li><a href="#" th:href="@{/dates}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Select Date Range</a></li>
                        <li><a href="#" th:href="@{/expense/new}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Create Expense</a></li>
                        <li><a href="#" th:href="@{/allexpenses}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">All Expenses</a></li>
                        <li><a href="#" th:href="@{/expensesbycategory}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">Grouped Expenses</a></li>
                        <li><a href="#" th:href="@{/allcategories}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">All Categories</a></li>
                        <li sec:authorize="isAuthenticated()">
	                        <form th:action="@{/logout}" method="post">
					            <div style="padding-top: 10px;">
					              	<input type="submit" value="Sign Out" />
					            </div>
					        </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
         
<!--          <div>
            <div class="row text-center">
                <div class="">
                    <h2>Budget</h2>

                    <h3>Spring Boot Web App</h3>
                </div>
            </div>
            <div class="row text-center">
                <img width="400" th:src="@{/images/6.jpg}"/>
            </div>
        </div> -->
    </div>
</div>

</body>
</html>