<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Expense Data Grid</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

  <style type="text/css">

    thead {color:green;}
    tbody {color:blue;}
    tfoot {color:red;}

    table, th, td {
      border: 1px solid black;
    }

		tr:hover{
		 cursor: pointer;
		}

  </style>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var chartData = document.getElementById('chartData').value;
        alert(chartData);
        var data = new google.visualization.DataTable(chartData);
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 600, height: 400});
      }

  </script>

</head>
<body>
<div class="container">
  <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<div class="container">
  <div id="chart_div"></div>
</div>
<div class="container">
  <table id="datagrid" class="table table-striped">
    <thead>
      <tr>
        <th th:each="headerColData:${data.header}" th:text="${headerColData}"/>
      </tr>
    </thead>
    <tbody>
      <tr th:each="row:${data.rows}">
        <td th:each="rowColData:${row}" th:text="${rowColData}"/>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th th:each="footerColData:${data.footer}" th:text="${footerColData}"/>
      </tr>
    </tfoot>
  </table>
  <input id="chartData" type="hidden" th:value="${data.chartData}">
</div>
</body>
</html>