<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Expense Data Grid</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

  <style type="text/css">

    thead {color:green;}
    tbody {color:blue;}
    tfoot {color:red;}

    table, th, td {
      border: 1px solid black;
    }

		tr:hover{
		 cursor: pointer;
		}

  </style>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      window.onload = onLoad;

      function onLoad() {
        addHandlers();
        updateSelectors();
      }

      function addHandlers() {
          var table = document.getElementById("datagrid");
          if (table != null) {
              var headerRow = table.rows[0];
              for (var i = 1; i < table.rows.length - 1; i++) {
                  var currentRow = table.rows[i];
                  for (var j = 1; j < currentRow.cells.length - 1; j++) {
                      var currentCell = currentRow.cells[j];
                      var category = headerRow.cells[j].innerHTML;
                      currentCell.onclick = cellClickHandler(i, category, currentCell.innerHTML);
                  }
              }
          }
      }

      var cellClickHandler = function(day, category, cellData) {
          var headerRow = document.getElementById("datagrid").rows[0];
          var year = $("#selectedYear").val();
          var month = $("#selectedMonth").val();
          var parameters = "?year=" + year + "&month=" + month + "&day=" + day + "&category=" + category;
          if (cellData == null || cellData == "") {
            return function() {
                window.location.href="/expense/new" + parameters;
            }
          } else {
            return function() {
                window.location.href="/expenses" + parameters;
            };
          }
      }

      function drawChart() {
        var chartData = document.getElementById('chartData').value;
        var data = new google.visualization.DataTable(chartData);
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 600, height: 400});
      }

      function onSubmit() {
        var endpoint = $("#endpoint").val();
        var year = $("#year").val();
        var month = $("#month").val();
        window.location.replace(endpoint + "?year=" + year + "&month=" + month);
      }

      function updateSelectors() {
        var years = $("#year")[0];
        var selectedYear = $("#selectedYear").val();
        for (var i = 0; i < years.options.length; i++) {
            var year = years.options[i].value
            years.options[i].defaultSelected = year == selectedYear;
        }
        var months = $("#month")[0];
        var selectedMonth = $("#selectedMonth").val();
        for (var i = 0; i < months.options.length; i++) {
            var month = months.options[i].value
            months.options[i].defaultSelected = month == selectedMonth;
        }
      }

  </script>

</head>
<body>
<div class="container">
  <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<div class="container">
  <h4>Select a date range</h4>
  <div>
    <label for="year">Year:</label>
    <select th:field="*{year}" id="year" th:value="${year}">
      <option th:each="year:${years}" th:value="${year}"
              th:utext="${year}"/>
    </select>
  </div>
  <div>
    <label for="month">Month:</label>
    <select th:field="*{month}" id="month" th:value="${month}">
      <option th:each="key:${months.keySet()}" th:value="${key}"
              th:utext="${months.get(key)}"/>
    </select>
  </div>
  <div>
    <button onclick="onSubmit()">Submit</button>
  </div>
</div>



<div th:if="${not #lists.isEmpty(data.rows)}">

  <div class="container">
    <div id="chart_div"></div>
  </div>

  <div class="container">
    <table id="datagrid" class="table table-striped">
      <thead>
        <tr>
          <th th:each="headerColData:${data.header}" th:text="${headerColData}"/>
        </tr>
      </thead>
      <tbody>
        <tr th:each="row:${data.rows}">
          <td th:each="rowColData:${row}" th:text="${rowColData}"/>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th th:each="footerColData:${data.footer}" th:text="${footerColData}"/>
        </tr>
      </tfoot>
    </table>
    <input id="chartData" type="hidden" th:value="${data.chartData}">
  </div>

</div>

<input id="endpoint" type="hidden" th:value="${endpoint}"/>
<input id="selectedYear" type="hidden" th:value="${year}"/>
<input id="selectedMonth" type="hidden" th:value="${month}"/>

</body>
</html>
