<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Expense List</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

  <style type="text/css">

		tr:hover{
		 cursor: pointer;
		}


  </style>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

      function editExpense(id) {
    	  location.href = "/expense/edit?id=" + id;
      }

  </script>


</head>
<body>
<div class="container">
  <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<div class="container">
  <div id="chart_div"></div>
</div>

<div class="container">
  <div th:if="${not #lists.isEmpty(data)}">
    <h2>Expenses</h2>
  </div>
  <table id="datagrid" class="table table-striped">
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
    <tr th:each="expense:${data}" th:onclick="'javascript:editExpense(\'' + ${expense.id} + '\');'">
      <td th:text="${expense.amount}"></td>
      <td th:text="${#dates.format(expense.date, 'MMM dd, yyyy')}"></td>
      <td th:text="${expense.category.name}"></td>
      <td th:text="${expense.description}"></td>
    </tr>
  </table>
</div>
</body>
</html>